*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}



:root {
    --bg-color: #f0f2f5;
    --card-bg: #ffffff;
    --text-color: #333;
    --accent: #6c5ce7;
}

body.dark-mode {
    --bg-color: #1e1e2e;
    --card-bg: #2d2d44;
    --text-color: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    line-height: 1.6;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transition: 0.3s;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.1s;
}

button:active {
    transform: scale(0.95);
}

.theme-btn {
    background: var(--text-color);
    color: var(--bg-color);
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.card {
    background: var(--card-bg);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    /* Soft UI Shadow */
    text-align: center;
    width: 200px;
}

h2 {
    margin: 0 0 20px 0;
}

.count-display {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--accent);
}

.vote-btn {
    background: var(--accent);
    color: white;
    width: 100%;
}